@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
body .overflow-hidden{
    overflow-y: hidden;
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
a{
    text-decoration: none;
}
/* 
    header
*/
header{
    position: relative;
}
.nav-bg{
    position: absolute;
    top: 0;
    right: 0;
    /* max-width: 1204px; */
    width: 40%;
    height: 93px;
    background: #F5F5F5;
    z-index: 2;
}
.head-cont{
    display: flex;
    justify-content: space-between;
    /* padding: 0; */
    align-items: center;
}
nav{
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    background: #F5F5F5;
    z-index: 4;
    padding-left: 43px;
    height: 93px;
    border-bottom-left-radius: 10px;
}
ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin-right: 30px;
}
li .nav-a{
    text-decoration: none;
    font-size: 18px;
    color: #4A821B!important;
    /* line-height: 26px; */
    padding: 2px 4px;
    display: block;
    position: relative;
    z-index: 99;
    transition: 0.5s;
}
li .nav-a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #4A821B;
    z-index: -1;
    transition: 0.4s;
    border-radius: 0 5px 5px 0;
}
li .nav-a:hover{
    color: #FFFFFF!important;
}
li .nav-a:hover::before{
    width: 100%;
}

li:last-child{
    margin-right: 143px;
}
.burger-menu{
   height: 100vh;
   width: 0;
   background: #F5F5F5;
   position: fixed;
   top: 0;
   right: -20%;
   transition: 0.6s;
}
.burger-menu.active{
    width: 35%;
    right: 0;
}
.burger-link{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.burger{
    z-index: 55;
    transition: 0.5s;
    display: none;
}
.burger-line{
    transition: 0.4s;
}
.burger-line1.close{
    transform: rotate(45deg) translate(6px, 7px);
}
.burger-line2.remove{
  width: 0;
  transition: 0.4s;
}

.burger-line3.close1{
    transform: rotate(-45deg) translate(3px, -4px);
}
.search{
    /* display: none; */
    position: relative;
}
.search input[type="text"]{
    outline: none;
    border: none;
    height: 40px;
    width: 276px;
    overflow: hidden;
    padding-left: 17px;
    font-size: 14px;
    color: #979797;
}
.search-btn{
    position: absolute;
    top: 0;
    right: 0;
    background: #A24D1D;
    width: 61px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 10px 10px 0;
}

/* header{
    padding: 0!important;
} */
.logo{
    padding-top: 16px;
    padding-bottom: 30px;
}
.parent{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    position: relative;
}
.left{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.left-a:hover .left img{
    transform: scale(1.3);
}
.left-a:hover .left-text{
    background: rgba(36,36,36,0.8);
}
.left img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.pop-news{
    position: absolute;
    top: 0;
    left: 12px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    background: #FFFFFF;
    display: flex;
    z-index: 1;
    align-items: center;
    cursor: pointer;
    padding-right: 28px;
    padding-top: 7px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #6A6A6A!important;
    transition: 0.4s;
}
.pop-news:hover{
    color: #FFFFFF!important;
    padding-left: 10px;
    background: #4A821B;
}
.pop-news:hover .green-line{
    background: #6A6A6A;
    transform: scaleX(0);
}
.green-line{
    width: 22px;
    height: 3px;
    background: #4A821B;
    margin-right: 9px;
    transition: 0.4s;
}
.left-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(36,36,36,0.5);
    padding: 24px 40px 18px 41px;
    transition: 0.5s;
}
.left-text h3{
    height: 50px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}
.left-text p{
    height: 62px;
    overflow: hidden;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

/* 
    right
*/

.right{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 16px;
    grid-row-gap: 11px;
}
.right a:hover{
    transition-duration: 0.3s;
}
.right a:hover{
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}
.child{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.child img{
    width: 100%;
    height: 100%;
}
/* .child:hover .right-text{
    transform: translateY(43px);
} */
.time{
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-right: 9px;
}
.time span{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #9B9B9B;
}


.right-text{
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    padding-top: 27px;
    background: -webkit-linear-gradient(90deg
    , #020024 0%, #242424 0%, #00d4ff00 76%);
    transition: 0.4s;
}
.right-text h3{
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 16px;
    height: 30px;
    overflow: hidden;
}
.right-text p{
    font-size: 12px;
    line-height: 16px;
    height: 30px;
    overflow: hidden;
    color: #FFFFFF;
}

/* 
    section2
*/
.sc-line{
    margin-top: 27px;
    margin-bottom: 53px;
}
.scroll{
    position: relative;
    width: 100%;
    height: 8px;
    background: #EEEEEE;
}   
.line1{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 49%;
    height: 17px;
    background: rgba(74,130,27,0.79);
    transition: 1s;
}

.sec2-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.lat-news{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #6A6A6A!important;
    padding-left: 29px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    transition: 0.4s;
}
.lat-news::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 22px;
    height: 3px;
    background: #4A821B;
    transition: 0.4s;
}
.lat-news:hover{
    color: #4A821B!important;
    padding-left: 39px;
}
.lat-news:hover::after{
    height: 0;
}
.back-next-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-text{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    color: rgba(74,130,27,0.69)!important;
    transition: 0.4s;
    position: relative;
}
.load-text::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: rgba(74,130,27,0.9);
    transition: 0.5s;
}
.load-text:hover:after{
    width: 100%;
}
.back{
    width: 32px;
    height: 32px;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C8C8C8!important;
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 12px;
    cursor: pointer;
}
.next{
    width: 32px;
    height: 32px;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7AA259!important;
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer;
}
.see-all{
    font-size: 14px;
    color: #538227!important;
    line-height: 20px;
    padding-bottom: 3px;
    position: relative;
}
.see-all::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 120%;
    height: 3px;
    background: rgba(112,112,112,0.33);
    transition: 0.5s;
}
.see-all:hover::before{
    background: #4A821B;
}

/* 
    cards grid
*/

/* .cards{
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 15px;
    padding: 0;
    margin-top: 12px;
}
.card-T{
    width: 100%;
    height: 100%;
    position: relative;
}
.card-title{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #989898;
    background: #FFFFFF;
    transition: 0.4s;
}
.card-T img{
    width: 100%;
    transition: 0.4s;
    object-fit: cover;
}
.card-text{
    padding: 0 14px;
    padding-top: 14px;
    position: relative;
}
.card-text h3{
    height: 40px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: #414141;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    transition: 0.4s;
}
.card-text p{
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #414141;
    line-height: 18px;
    transition: 0.4s;
}
.card-text::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 76%;
    background: rgba(112,112,112,0.2);
    transition: 0.4s;
}
.cards a:hover .card-T img{
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 50%);
}
.cards a:hover .card-text h3,
.cards a:hover .card-text p{
    color: #4A821B;
}
.cards a:hover .card-text::after{
    height: 92%;
    background: rgba(112,112,112,0.9);
} */
.join-box{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
   
}
.join{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #18B697;
    padding: 15px 14px;
}
.adver{
    display: flex;
    flex-direction: column;
}
.build-link{
    padding: 7px 0;
    padding-left: 27px;
    padding-right: 90px;
    width: fit-content;
    font-size: 12px;
    color: #FFFFFF!important;
    background: #3E3E3E;
    margin-bottom: 4px;
    transition: 0.5s;
}
.business-link{
    padding: 7px 0;
    padding-left: 27px;
    padding-right: 98px;
    width: fit-content;
    font-size: 12px;
    color: #FFFFFF!important;
    background: #3E3E3E;
    transition: 0.5s;
}
.join-btn{
    clip-path: polygon(19% 0, 100% 0, 100% 100%, 0% 100%);    
    font-size: 21px;
    color: #3E3E3E!important;
    background: #F9CF08;
    padding: 8px 27px;
    padding-left: 34px;
    transition: 0.5s;
}
.build-link:hover,
.business-link:hover,
.join-btn:hover{
    background: #4A821B;
}
/* 
    section events
*/

.event-box{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    
}
.event-left{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    position: relative;
}
.event-link{
    font-size: 16px;
    font-weight: 700;
    color: #6A6A6A!important;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 23px;
    padding-bottom: 8px;
    background: #FFFFFF;
    width: fit-content;
    display: flex;
    align-items: center;
    z-index: 77;
    transition: 0.5s;
}
.event-span{
    width: 22px;
    height: 3px;
    background: #4A821B;
    margin-right: 9px;
    transition: 0.5s;
}
.event-link:hover{
    color: #FFFFFF!important;
    padding-left: 10px;
    background: #4A821B;
}
.event-link:hover .event-span{
    transform: scaleX(0);
    background: #6A6A6A;
}
.ev-left1{
    width: 100%;
}
.ev-left1 img{
    width: 100%;
    /* height: 189px; */
    object-fit: cover;
    margin-bottom: 2px;
    transition: 0.5s;
}

.ev-left1-box h3,
.ev-left2-box h3{
    font-size: 14px;
    font-weight: 700;
    color: #585858;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 9px;
    transition: 0.5s;
}
.ev-left2-box .uni-h{
    margin-top: 0;
}
.event-time{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #4A821B!important;
    margin: 7px 0;
}
.ev-left1-box,
.ev-left2-box{
    padding: 0 10px;
}

.ev-left1-box p,
.ev-left2-box p{
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 44px;
    overflow: hidden;
    line-height: 20px;
    transition: 0.5s;
}
.ev-left1:hover h3,
.ev-left1:hover p,
.ev-left2-box:hover h3,
.ev-left2-box:hover p{
    color: #4A821B;
}
.ev-left2-box:hover::before{
    background: rgba(112,112,112,1);
    width: 60%;
}

.ev-left1-box .uni-height-p{
    height: 64px;
}
.ev-left2{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}

.ev-left2-box{
    position: relative;
    /* max-height: 160px; */
    height: auto;

    transition: 0.5s;
}
.hidden{
    display: none;
}
.hidden-see-all,
.hidden2-see-all{
    display: none;
}
.ev-left2-box::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 10px;
    width: 30%;
    height: 1px;
    background: rgba(112,112,112,0.33);
    transition: 0.5s;
}
.ev-left2-box:nth-child(3)::before{
    height: 0;
    padding-bottom: 0;
}
.advertisement-box{
    width: calc(200% + 15px);
    height: 90px;
    background: #18B697;
    margin-top: 11px;
}

/* 
    right event 
*/

.event-right{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    position: relative;
}
.event-right1,
.ev-right2{
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
}
.hidden2{
    display: none;
}
.ev-right1-box{
    width: 100%;
    position: relative;
    padding: 0 10px;
    transition: 0.5s;
}
 
.r1-b-padding{
    padding: 0;
}
.r1-before::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 10px;
    width: 30%;
    height: 1px;
    background: rgba(112,112,112,0.33);
    transition: 0.5s;
}
.ev-right1-box img{
    width: 100%;
    /* height: 189px; */
    object-fit: cover;
    margin-bottom: 2px;
    transition: 0.5s;
}

.ev-right-link{
    font-size: 16px;
    font-weight: 700;
    color: #6A6A6A!important;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 23px;
    padding-bottom: 8px;
    background: #FFFFFF;
    width: fit-content;
    display: flex;
    align-items: center;
    z-index: 77;
    transition: 0.5s;
}
.ev-right-link:hover{
    color: #FFFFFF!important;
    padding-left: 10px;
    background: #4A821B;
}
.ev-right-link:hover .event-span{
    transform: scaleX(0);
    background: #6A6A6A;
}
.ev-right2-box{
    padding: 0 10px;
}

.ev-right1-box h3,
.ev-right2-box h3{
    font-size: 14px;
    font-weight: 700;
    color: #585858;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    overflow: hidden;
    margin-bottom: 0;
    transition: 0.5s;
}
.ev-right1-box:hover h3,
.ev-right1-box:hover p,
.ev-right2-box:hover h3,
.ev-right2-box:hover p{
    color: #4A821B; 
}
.ev-right1-box:hover::before,
.ev-right2-box:hover::before{
    background: rgba(112,112,112,1);
    width: 60%;
} 

.ev-right2-box h3{
    margin-top: 14px;
}
.mg-top{
    margin-top: 9px;
}

.ev-right1-box p,
.ev-right2-box p{
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 44px;
    overflow: hidden;
    line-height: 20px;
    transition: 0.5s;
}
.ev-right1-box .mg-bottom{
    margin-bottom: 10px;
}
.line-link {
    width: 52px;
    height: 5px;
    background: #538227;
    margin-top: 15px;
}
.r2-before{
    position: relative;
}
.r2-before::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 30%;
    height: 1px;
    background: rgba(112,112,112,0.33);
    transition: 0.4s;
}
.adver2{
    max-width: 368px;
    height: 173px;
    width: 100%;
    background: #18B697;
    margin-bottom: -3px;
}


.mg-bottom{
    margin-bottom: 10px;
}
/* 
    section analytics
*/

.analytic-link{
    font-size: 16px;
    font-weight: 700;
    color: #6A6A6A!important;
    font-family: 'Open Sans', sans-serif;
    margin-top: 29px;
    margin-bottom: 24px;
    /* background: #FFFFFF; */
    width: fit-content;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.analytic-link:hover{
    padding-left: 20px;
    color: #4A821B!important;
}
.analytic-link:hover span{
    transform: scaleX(0);
}
.scr-boxes{
    height: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background: red; */
    position: relative;
}
.scr-box{
    width: calc(100% / 4);
    height: 100%;
    background:#fff;
    position: relative;
}
.scr-link-a{
    width: 100%;
    height: 100%;
}

.scr-line{
    position: absolute;
    bottom: 9px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #E5E5E5;
}
.last-line{
    width: 60%;
}
.circle{
    position: absolute;
    bottom: 0;
    left: 25px;
    width: 23px;
    height: 23px;
    background: #DFDFDF;
    border-radius: 50%;
    cursor: pointer;
    z-index: 44;
    transition: 0.5s;
}
.margin-center{
    position: absolute;
    right: 18px;
    bottom: 9px;
}
.scr-box h3{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 8px;
    color: #585858;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
}
.scr-box p{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #888888;
    padding-left: 25px;
    padding-bottom: 15px;
    transition: 0.5s;
}

.scr-box:hover h3,
.scr-box:hover p{
    color: #4A821B!important;
}
.scr-box:hover .circle{
    background: #4A821B;
}

/* .scr-box h3.active{
    color: #4A821B;
    font-family: 'Open Sans', sans-serif;
}
.circle.active{
    background: #4A821B;
} */

/* 
    section adver 3
*/
.adver3{
    width: 100%;
    max-height: 158px;
    min-height: 90px;
    background: #18B697;
}

/* 
    footer
*/

footer{
    padding: 47px 0;
    background: #F5F5F5;
}
.footer-flexy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    max-width: 218px;
    width: 100%;
}
.footer-logo a{
    width: 100%;
}
.footer-logo a img{
    width: 100%;
    height: 100%;
}

.footer-nav,
.contact,
.form-box{
    max-width: calc(100% / 4);
}
/* .footer-nav{
    width: calc(100% / 4);
} */
.contact ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact ul li{
    margin: 0;
    height: 23px;
    overflow: hidden;
}
.form-icon{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-icon a{
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    color: rgba(95,152,47,0.76);
    border: 1px solid rgb(95, 152, 47);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.form-icon a:hover{
    background: rgba(95,152,47,0.76);
    color: #FFFFFF;
}
.form-icon a:nth-child(2){
    margin: 0 5px;
}
.footer-a{
    font-size: 16px;
    color: #686868!important;
    display: inline-block;
    width: 49%;
    padding: 4px 0;
    transition: 0.4s;
    position: relative;
}
.footer-a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #4A821B;
    transition: 0.4s;
}

.footer-a:hover:after{
    width: 50%;
}
.contact ul li{
    font-size: 14px;
    color: #686868!important;
    font-weight: 600;

}

.contact ul li a{
    font-size: 14px;
    color: #686868!important;
    font-weight: 600;
    transition: 0.4s;
}
.contact ul li a:hover{
    text-decoration: underline;
    animation-duration: 0.3s;
}
.contact h3{
    font-size: 16px;
    color: #686868!important;
    font-weight: 600;
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-box h3{
    font-size: 14px;
    color: #525450;
}
form{
    position: relative;
    margin-top: 7px;
}
form input[type="text"]{
    outline: none;
    border: none;
    margin-right: 40px;
    height: 37px;
    padding: 3px 7px;
    color: #787878;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
button{
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #4A821B;
    padding: 0 10px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #E6E6E6;
    height: 37px;
    transition: 0.5s;
}
button:hover{
    background: #4A821B;
    color: #FFFFFF;
}


/* 
    creat
*/
.creat{
    width: 100%;
    height: 44px;
    background: #5E5E5E;
    transition: 0.4s;
    cursor: pointer;
}
.organisation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.height{
    height: 100%;
}
.organisation h3,
.organisation a{
    font-size: 16px;
    color: #FFFFFF!important;
    transition: 0.4s;
}
.organisation a:hover{
    text-decoration: underline;
}
.creat:hover{
    background: #FFFFFF;
}
.creat:hover .organisation h3{
    color:#5E5E5E!important;
}
.creat:hover .organisation a{
    color:#5E5E5E!important;
}
/* 
    icons
*/

.icon-search{
    font-size: 18px;
    color: #FFFFFF;
}
.icon-home{
    font-size: 20px;
    color: #4A821B!important;
}
.icon-arrow{
    font-size: 15px;
}
.rotate{
    transform: rotate(180deg);
}
.icon-fb,
.icon-tw,
.icon-im{
    font-size: 18px; 
}



.slider-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.sl-boxes{
    /* width: calc(100% / 4); */
    padding:0 7.5px;
}
/* .sl1,
.sl5{
    padding-left: 0;
}
.sl4,
.sl8{
    padding-right: 0;
} */
.sl-box{
    position: relative;
    width: 100%;
}
.sl-text{
    padding: 0 14px;
    padding-top: 14px;
    position: relative;
}
.sl-box img{
    width: 100%;
    transition: 0.4s;
    object-fit: cover;
}
.time-sl{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #989898;
    background: #FFFFFF;
    transition: 0.4s;
}
.sl-text {
    padding: 0 10px;
    padding-top: 11px;
    width: 100%;

}
.sl-text h3{
    height: 40px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: #414141;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    transition: 0.4s;
}
.sl-text p{
    height: 38px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #414141;
    line-height: 18px;
    transition: 0.4s;
}


.sl-text::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 76%;
    background: rgba(112,112,112,0.2);
    transition: 0.4s;
}
.sl-box:hover img{
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 50%);
}
.sl-box:hover .sl-text h3,
.sl-box:hover .sl-text p{
    color: #4A821B;
}
.sl-box:hover .sl-text::after{
    height: 92%;
    background: rgba(112,112,112,0.9);
}